html {
  font-size: 1rem;
}
%bck_img {
  background-repeat: no-repeat;
  background-size: cover;
}
// Header
#header {
  background-image: url(../images/campaign-creators-gMsnXqILjp4-unsplash.jpg);
  @extend %bck_img;
  height: 100vh;
  position: relative;
  width: 100%;
  z-index: 1;
  nav {
    background-color: rgba($color: #000000, $alpha: 0.3);
  }
  .content {
    h1 {
      font-size: 4rem;
    }
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    a {
      border-radius: 25px;
    }
  }
  &::after {
    content: "";
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0.4;
    z-index: -1;
  }
}
// Main
#main {
  // Services
  #services {
    background-image: url(../images/priscilla-du-preez-XkKCui44iM0-unsplash.jpg);
    @extend %bck_img;
    padding: 10rem 0;
    position: relative;
    z-index: 1;
    &::after {
      content: "";
      position: absolute;
      background-color: #000;
      width: 100%;
      height: 100%;
      top: 0;
      opacity: 0.4;
      z-index: -1;
    }
    h2 {
      font-size: 3rem !important;
    }
    .wrapper {
      height: 20rem;
      padding: 2rem 1rem;
      .line {
        width: 6rem;
        padding: 0.2rem 0;
      }
    }
  }
  // about
  #about {
    background-image: url(../images/jud-mackrill-Of_m3hMsoAA-unsplash.jpg);
    @extend %bck_img;
    padding: 12rem 0;
    position: relative;
    z-index: 1;
    .content {
      h2 {
        font-size: 4rem;
      }
      a {
        border-radius: 2rem;
      }
    }
    &::after {
      content: "";
      position: absolute;
      background-color: #000;
      width: 100%;
      height: 100%;
      top: 0;
      opacity: 0.4;
      z-index: -1;
    }
  }
  // works
  #works {
    background-image: url(../images/austin-distel-wD1LRb9OeEo-unsplash.jpg);
    @extend %bck_img;
    position: relative;
    z-index: 1;
    padding: 15rem 0;
    h2 {
      font-size: 4rem;
    }
    .line {
      width: 6rem;
      padding: 0.2rem 0;
    }
    &::after {
      content: "";
      position: absolute;
      background-color: #000;
      width: 100%;
      height: 100%;
      top: 0;
      opacity: 0.4;
      z-index: -1;
    }
    .wrapper {
      cursor: pointer;
      img {
        transition: transform 0.3s;
      }
      &:hover {
        img {
          transform: scale(1.1);
        }
      }
    }
  }
  // Testimonial
  #testimonial {
    background-image: url(../images/brooke-cagle-g1Kr4Ozfoac-unsplash.jpg);
    @extend %bck_img;
    position: relative;
    z-index: 1;
    padding: 15rem 0;
    h2 {
      font-size: 4rem;
    }
    .line {
      width: 6rem;
      padding: 0.2rem 0;
    }
    &::after {
      content: "";
      position: absolute;
      background-color: #000;
      width: 100%;
      height: 100%;
      top: 0;
      opacity: 0.4;
      z-index: -1;
    }
    .author {
      img {
        width: 4rem;
      }
    }
  }
}
