// XX-Large devices (larger desktops, 1400px and down)
@media only screen and (max-width: 1400px) {
}
// X-Large devices (large desktops, 1200px and down)
@media only screen and (max-width: 1200px) {
}
// Large devices (desktops, 992px and down)
@media only screen and (max-width: 992px) {
  #header {
    h1 {
      font-size: 2rem !important;
    }
  }
  #main {
    #services {
      .line {
        margin-bottom: 5rem !important;
      }
    }
    #about {
      h2 {
        font-size: 3rem !important;
      }
    }
    #testimonial {
      h2 {
        font-size: 3rem !important;
      }
    }
  }
}

// Medium devices (tablets, 768px and down)
@media only screen and (max-width: 768px) {
  #header {
    nav {
      .logo {
        display: none !important;
      }
      ul {
        justify-content: center !important;
        column-gap: unset !important;
        li {
          margin-right: 0.2rem !important;
        }
        i {
          display: none;
        }
      }
    }
  }
  #main {
    #about {
      .content {
        width: 100% !important;
        h2 {
          font-size: 2rem !important;
        }
      }
    }
    #works {
      h2 {
        font-size: 2rem !important;
      }
    }
    #testimonial {
      padding: 7rem 0;
      h2 {
        font-size: 2rem !important;
      }
    }
  }
}

// Small devices  (tablets, 576px and down)
@media only screen and (max-width: 576px) {
  #header {
    nav {
      font-size: 0.9rem;
    }
    .content {
      width: 100%;
      a {
        margin-bottom: 0.5rem;
        padding: 0.5rem !important;
      }
    }
  }
  #main {
    #services {
      .wrapper {
        height: 19rem !important;
      }
    }
    #about {
      h2 {
        font-size: 2rem !important;
      }
    }
    #contact {
      padding: 7rem 0;
    }
  }
  #footer {
    .bottom {
      P {
        font-size: 0.9rem !important;
      }
    }
  }
}

// Extra Small devices (tablets, 320px and down)
@media only screen and (max-width: 320px) {
  #header {
    nav {
      font-size: 0.7rem !important;
    }
    .content {
      width: 100%;
      h1 {
        font-size: 1.7rem !important;
      }
      p {
        font-size: 0.9rem;
      }
    }
  }
  #main {
    #services {
      h2 {
        font-size: 2rem !important;
      }
    }
  }
  #footer {
    .bottom {
      P {
        font-size: 0.8rem !important;
      }
      ul {
        justify-content: start !important;
      }
    }
  }
}
