html {
  font-size: 1rem;
}

#main #contact, #main #testimonial, #main #works, #main #about, #main #services, #header {
  background-repeat: no-repeat;
  background-size: cover;
}

#header {
  background-image: url(../images/campaign-creators-gMsnXqILjp4-unsplash.jpg);
  height: 100vh;
  position: relative;
  width: 100%;
  z-index: 1;
}
#header nav {
  background-color: rgba(0, 0, 0, 0.3);
}
#header .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#header .content h1 {
  font-size: 4rem;
}
#header .content a {
  border-radius: 25px;
}
#header::after {
  content: "";
  position: absolute;
  background-color: #000;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.4;
  z-index: -1;
}

#main #services {
  background-image: url(../images/priscilla-du-preez-XkKCui44iM0-unsplash.jpg);
  padding: 10rem 0;
  position: relative;
  z-index: 1;
}
#main #services::after {
  content: "";
  position: absolute;
  background-color: #000;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.4;
  z-index: -1;
}
#main #services h2 {
  font-size: 3rem !important;
}
#main #services .wrapper {
  height: 20rem;
  padding: 2rem 1rem;
}
#main #services .wrapper .line {
  width: 6rem;
  padding: 0.2rem 0;
}
#main #about {
  background-image: url(../images/jud-mackrill-Of_m3hMsoAA-unsplash.jpg);
  padding: 12rem 0;
  position: relative;
  z-index: 1;
}
#main #about .content h2 {
  font-size: 4rem;
}
#main #about .content a {
  border-radius: 2rem;
}
#main #about::after {
  content: "";
  position: absolute;
  background-color: #000;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.4;
  z-index: -1;
}
#main #works {
  background-image: url(../images/austin-distel-wD1LRb9OeEo-unsplash.jpg);
  position: relative;
  z-index: 1;
  padding: 15rem 0;
}
#main #works h2 {
  font-size: 4rem;
}
#main #works .line {
  width: 6rem;
  padding: 0.2rem 0;
}
#main #works::after {
  content: "";
  position: absolute;
  background-color: #000;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.4;
  z-index: -1;
}
#main #works .wrapper {
  cursor: pointer;
}
#main #works .wrapper img {
  transition: transform 0.3s;
}
#main #works .wrapper:hover img {
  transform: scale(1.1);
}
#main #testimonial {
  background-image: url(../images/brooke-cagle-g1Kr4Ozfoac-unsplash.jpg);
  position: relative;
  z-index: 1;
  padding: 15rem 0;
}
#main #testimonial h2 {
  font-size: 4rem;
}
#main #testimonial .line {
  width: 6rem;
  padding: 0.2rem 0;
}
#main #testimonial::after {
  content: "";
  position: absolute;
  background-color: #000;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.4;
  z-index: -1;
}
#main #testimonial .author img {
  width: 4rem;
}
#main #contact {
  background-image: url(../images/alex-kotliarskyi-QBpZGqEMsKg-unsplash.jpg);
  position: relative;
  z-index: 1;
  padding: 15rem 0;
}
#main #contact::after {
  content: "";
  position: absolute;
  background-color: #000;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.4;
  z-index: -1;
}
#main #contact ul i {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}
#main #contact .icons i {
  font-size: 1.1rem;
}
#main #contact form input,
#main #contact form textarea {
  outline: none;
}
#main #contact form input::-moz-placeholder, #main #contact form textarea::-moz-placeholder {
  color: #fff;
}
#main #contact form input::placeholder,
#main #contact form textarea::placeholder {
  color: #fff;
}
#main #contact form .btn {
  margin-top: 1rem;
  border-radius: 2rem !important;
}

@media only screen and (max-width: 992px) {
  #header h1 {
    font-size: 2rem !important;
  }
  #main #services .line {
    margin-bottom: 5rem !important;
  }
  #main #about h2 {
    font-size: 3rem !important;
  }
  #main #testimonial h2 {
    font-size: 3rem !important;
  }
}
@media only screen and (max-width: 768px) {
  #header nav .logo {
    display: none !important;
  }
  #header nav ul {
    justify-content: center !important;
    -moz-column-gap: unset !important;
         column-gap: unset !important;
  }
  #header nav ul li {
    margin-right: 0.2rem !important;
  }
  #header nav ul i {
    display: none;
  }
  #main #about .content {
    width: 100% !important;
  }
  #main #about .content h2 {
    font-size: 2rem !important;
  }
  #main #works h2 {
    font-size: 2rem !important;
  }
  #main #testimonial {
    padding: 7rem 0;
  }
  #main #testimonial h2 {
    font-size: 2rem !important;
  }
}
@media only screen and (max-width: 576px) {
  #header nav {
    font-size: 0.9rem;
  }
  #header .content {
    width: 100%;
  }
  #header .content a {
    margin-bottom: 0.5rem;
    padding: 0.5rem !important;
  }
  #main #services .wrapper {
    height: 19rem !important;
  }
  #main #about h2 {
    font-size: 2rem !important;
  }
  #main #contact {
    padding: 7rem 0;
  }
  #footer .bottom P {
    font-size: 0.9rem !important;
  }
}
@media only screen and (max-width: 320px) {
  #header nav {
    font-size: 0.7rem !important;
  }
  #header .content {
    width: 100%;
  }
  #header .content h1 {
    font-size: 1.7rem !important;
  }
  #header .content p {
    font-size: 0.9rem;
  }
  #main #services h2 {
    font-size: 2rem !important;
  }
  #footer .bottom P {
    font-size: 0.8rem !important;
  }
  #footer .bottom ul {
    justify-content: start !important;
  }
}/*# sourceMappingURL=style.css.map */